:root {
  --primary-white: hsl(0, 0%, 100%);
  --primary-light-gray: hsl(212, 45%, 89%);
  --primary-grayish-blue: hsl(220, 15%, 55%);
  --primary-dark-blue: hsl(218, 44%, 22%);
  --font-family: "Outfit", sans-serif;
}
/* Decent Defaults */

img,
video {
  width: 50%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--primary-light-gray);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--primary-white);
}

#heading {
}

#paragraph {
  font-size: 15px;
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
}

/* Desktop Only Styles */
@media (min-width: 48em) {
}
