:root {
  --primary-white: hsl(0, 0%, 100%);
  --primary-light-gray: hsl(212, 45%, 89%);
  --primary-grayish-blue: hsl(220, 15%, 55%);
  --primary-dark-blue: hsl(218, 44%, 22%);
  --font-family: "Outfit", sans-serif;
}
/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--primary-light-gray);
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}
.card {
  background-color: var(--primary-white);
  max-width: 25vw;
  padding: 1em;
  border-radius: 1em;
}

#heading {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: var(--primary-dark-blue);
  padding-left: 1em;
  padding-right: 1em;
}

#caption {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  margin-bottom: 2em;
  color: var(--primary-grayish-blue);
  padding-left: 1em;
  padding-right: 1em;
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
}

/* Desktop Only Styles */
@media (min-width: 48em) {
}
